body {
    background-color: #000;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lienzo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid red;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


canvas {
    display: block;
    border: 1px solid black; /* Borde negro alrededor del canvas */
}

















































































/* Alejandro Alvarado. 2024. */